html {
  font-size: 10px; }

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #000000; }

.row-block {
  display: block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

p {
  padding-right: 0 !important;
  padding-left: 0 !important; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: inherit;
  line-height: 1; }
  a.disable:hover, a.disable:active, a.disable:focus {
    color: inherit; }
  a.color-bright:hover, a.color-bright:active, a.color-bright:focus {
    text-decoration: underline; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #ed1c24;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
  a:visited {
    color: #999; }

button {
  border: none;
  outline: none; }
  button:hover, button:focus {
    outline: none; }

.common-input {
  border: 1px solid #737373;
  width: 100%;
  height: 32px;
  font-size: 1.2rem;
  padding: 8px;
  margin-bottom: 25px; }
  .common-input:focus {
    outline: none; }
  .common-input.error {
    border-color: #ed1c24; }
  .common-input.error ~ .valid-text {
    color: #ed1c24;
    margin-top: -25px;
    margin-bottom: 14px; }

.common-textarea {
  border: 1px solid #737373;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  padding: 8px;
  margin-bottom: 25px;
  resize: none; }
  .common-textarea.error {
    border-color: #737373; }

.common-label {
  font-size: 1.5rem;
  line-height: 1.2;
  min-width: 130px;
  padding-top: 5px;
  padding-right: 10px; }

.common-button {
  outline: none;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #aaa;
  color: #fff;
  height: 32px;
  min-width: 114px;
  padding: 5px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .common-button:hover {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #777; }

.valid-text {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  color: #000000;
  margin-bottom: 20px;
  color: #ed1c24;
  font-weight: lighter; }

.color-bright {
  color: #ed1c24 !important; }

.color-light {
  color: #a6a6a6 !important; }

.color-light-black {
  color: #3c3c3c; }

.title {
  color: #ed1c24;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 1.1rem; }

.sub-title {
  font-size: 1.5rem;
  line-height: 1.35rem; }

.title-big {
  font-size: 2.6rem !important;
  line-height: 1 !important; }

.uppercase {
  text-transform: uppercase !important; }

.full-width {
  width: 100%; }

p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0 7px 15px; }

.separate-line {
  border-color: gainsboro; }

.art-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 198px;
  height: 110px;
  border: 1px solid gainsboro;
  margin-right: 20px; }
  .art-block__img {
    width: 100%;
    background-color: #f2f2f2;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 73px;
        -ms-flex: 0 0 73px;
            flex: 0 0 73px; }
  .art-block__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 5px 10px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 1.1rem;
    line-height: 1.4rem;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
  .art-block:hover .art-block__title {
    color: #ed1c24;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

.banner-img {
  display: block;
  margin-bottom: 15px; }
  .banner-img img {
    max-width: 100%; }

.banner-info {
  position: relative; }
  .banner-info__title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ' ';
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3); }
    .banner-info__title .article-title {
      color: #fff;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      font-size: 1.75rem; }
  .banner-info:hover .article-title {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    color: #cccccc; }

.time {
  display: inline-block;
  padding-right: 10px;
  font-size: 1.2rem;
  line-height: 1; }

.article-title {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600; }
  .article-title_size {
    font-size: 1.8rem; }
  .article-title_size-middle {
    font-size: 1.5rem; }
  .article-title_grey {
    color: #3c3c3c; }

.auth-name {
  font-size: 1rem;
  line-height: 2;
  color: #a6a6a6;
  text-transform: uppercase; }

.tabs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro; }
  .tabs-list__item {
    padding: 5px 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33%;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    text-align: center;
    color: #737373;
    line-height: 1.2rem;
    text-transform: uppercase; }
    .tabs-list__item.active {
      background-color: gainsboro;
      color: #000000; }
    .tabs-list__item:hover {
      color: #000000; }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .news__img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px; }
    .news__img img {
      width: 100%;
      max-height: 76px; }
  .news__title {
    display: inline-block; }
  .news__material {
    color: #737373;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: lighter;
    text-transform: uppercase; }

.page-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 60px; }

.nav-button {
  border: 1px solid #a6a6a6;
  font-size: 1rem;
  padding: 8px 50px;
  position: relative;
  min-width: 130px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem; }
  .nav-button svg {
    position: absolute;
    left: 25px; }
    .nav-button svg path {
      fill: #ed1c24; }
  .nav-button__prev {
    margin-right: 30px; }
  .nav-button__next {
    margin-right: auto; }
    .nav-button__next svg {
      right: 25px;
      left: auto; }
