.filter {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px; }
  .filter__bg {
    background-color: #e6e6e6; }
  .filter .common-select {
    border: 1px solid #737373;
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px; }
    .filter .common-select__width-60 {
      width: 60px; }
    .filter .common-select__width-90 {
      width: 90px; }
    .filter .common-select__margin {
      margin-left: 10px;
      margin-right: 10px; }
  .filter__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    border: 1px solid #737373;
    text-transform: uppercase;
    min-width: 120px;
    height: 40px;
    color: #000000;
    background-color: #fff;
    margin: 10px; }
    .filter__button:hover {
      color: #ed1c24; }
