footer .menu-list {
  padding-right: 0;
  margin-top: 70px;
  border-top: 2px solid #ed1c24;
  border-bottom: 1px solid gainsboro;
  padding-top: 10px;
  padding-bottom: 30px;
  height: auto; }

.footer-info {
  margin-top: 80px; }
  .footer-info p {
    padding-left: 0; }
  .footer-info__img {
    display: block; }
    .footer-info__img img {
      max-width: 15%; }
