.scroll-button {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  text-align: center;
  line-height: 39px;
  border: 1px solid #cccccc;
  width: 35px;
  height: 39px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  color: #cccccc; }
