    <ul class="nav">
        <li class="nav__item"><a href="#">Политика</a></li>
        <li class="nav__item"><a href="#">Коронавирус</a></li>
        <li class="nav__item"><a href="#">Общество</a></li>
        <li class="nav__item"><a href="#">Экономика</a></li>
        <li class="nav__item"><a href="#">Происшествия</a></li>
        <li class="nav__item"><a href="#">Спорт</a></li>
        <li class="nav__item"><a href="#">Культура</a></li>
        <li class="nav__item"><a href="#">История</a></li>
        <li class="nav__item"><a href="#">Мнение</a></li>
        <li class="nav__item"><a href="#">Интервью</a></li>
        <li class="nav__item"><a href="#">Технологии</a></li>
        <li class="nav__item"><a href="#">Здоровье</a></li>
        <li class="nav__item"><a href="#">Авто</a></li>
        <li class="nav__item"><a href="#">Отдых</a></li>
        <li class="nav__item"><a href="#">Обход блокировки и солидарность</a></li>
        <div id="btn-category" class="icon-down-open"><span>Рубрики</span></div>
    </ul>

