<ul>
    <li><a href="#">Политика</a></li>
    <li><a href="#">Коронавирус</a></li>
    <li><a href="#">Общество</a></li>
    <li><a href="#">Экономика</a></li>
    <li><a href="#">Происшествия</a></li>
    <li><a href="#">Спорт</a></li>
    <li><a href="#">Культура</a></li>
    <li><a href="#">История</a></li>
    <li><a href="#">Мнение</a></li>
    <li><a href="#">Интервью</a></li>
    <li><a href="#">Технологии</a></li>
    <li><a href="#">Здоровье</a></li>
    <li><a href="#">Авто</a></li>
    <li><a href="#">Отдых</a></li>
    <li><a href="#">Обход блокировки и солидарность</a></li>
</ul>
