<footer>
    <nav class="container">
        @@include('categories.html')
    </nav>
    <div class="partners container">
        <div><img alt="Partner logo" src="img/partner-02.png" /></div>
        <div><img alt="Partner logo" src="img/partner-04.png" /></div>
        <div><img alt="Partner logo" src="img/partner-06.png" /></div>
        <div><img alt="Partner logo" src="img/partner-10.png" /></div>
        <div><img alt="Partner logo" src="img/partner-11.png" /></div>
        <div><img alt="Partner logo" src="img/partner-13.png" /></div>
        <div><img alt="Partner logo" src="img/partner-14.png" /></div>
        <div><img alt="Partner logo" src="img/partner-03.png" /></div>
        <div><img alt="Partner logo" src="img/partner-15.png" /></div>
        <div><img alt="Partner logo" src="img/partner-16.png" /></div>
    </div>
    <div class="container copyright">
        <p>&copy; 1998–2020 Хартыя '97</p>
        <p>При использовании материалов сайта ссылка на пресс-центр Хартии'97 обязательна.</p>
        <p>Издатель Charter97.org в Варшаве: charter97@gmail.com ISSN 2543-4969</p>
    </div>
</footer>

@@include('scroll.html')

<script async src="js/main.min.js"></script>
