@@include('search.html')
<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header__line-wrapper">
                <div class="header__line-block right">
                    <div class="header__info">
                        <a href="#" class="header__contact active"
                            >прислать новость</a
                        >
                        <a href="#" class="header__contact">архив новостей</a>
                    </div>
                    <div class="lng">
                        <a href="#" class="lng__link">be</a>
                        <a href="#" class="lng__link active">ru</a>
                        <a href="#" class="lng__link">en</a>
                    </div>
                    <div class="search">
                        <em class="icon-search" id="btn-search-show"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wrapper">
            <div class="header__blocks">
                <div class="header__logo">
                    <a class="logo" href="#">
                        <img src="img/logo.png" alt="Хартыя '97" />
                        <span>18 ноября 2020, среда, 21:35</span>
                    </a>
                </div>
            </div>
            <div class="header__blocks">
                <div class="header__block">
                    <a href="#" class="header__item">
                        <div class="header__block-img">
                            <img
                                alt="Беларусь как сердце мира"
                                src="https://i.c97.org/hb/400892.jpg?77"
                            />
                        </div>
                        <div class="header__block-content">
                            <span>Беларусь как сердце мира</span>
                        </div>
                    </a>
                </div>
                <div class="header__block">
                    <a href="#" class="header__item">
                        <div class="header__block-img">
                            <img
                                alt="Беларусь как сердце мира"
                                src="https://i.c97.org/hb/400892.jpg?77"
                            />
                        </div>
                        <div class="header__block-content">
                            <span>Беларусь как сердце мира</span>
                        </div>
                    </a>
                </div>
                <div class="header__block">
                    <a href="#" class="header__item">
                        <div class="header__block-img">
                            <img
                                alt="Беларусь как сердце мира"
                                src="https://i.c97.org/hb/400892.jpg?77"
                            />
                        </div>
                        <div class="header__block-content">
                            <span>Беларусь как сердце мира</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <nav>
        @@include('categories.html')
    </nav>
</div>
</header>
