@@include('search.html')
<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header__line-wrapper">
                <div class="header__line-block right">
                    <div class="header__info">
                        <a href="#" class="header__contact active"
                            >прислать новость</a
                        >
                        <a href="#" class="header__contact">архив новостей</a>
                    </div>
                    <div class="lng">
                        <a href="#" class="lng__link">be</a>
                        <a href="#" class="lng__link active">ru</a>
                        <a href="#" class="lng__link">en</a>
                    </div>
                    <div class="search">
                        <em class="icon-search" id="btn-search-show"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="header__wrapper">
            <div class="logo">
                <a href="#">
                    <img src="img/logo.png" alt="Хартыя '97" />
                </a>
                <span>18 ноября 2020, среда, 21:35</span>
            </div>
            <div class="banners">
                <a href="#">
                    <img
                        alt="Беларусь как сердце мира"
                        src="https://i.c97.org/hb/400892.jpg?77"
                    />
                    <span>Беларусь как сердце мира</span>
                </a>
                <a href="#">
                    <img
                        alt="Лукашисты в панике"
                        src="https://i.c97.org/hb/401015.jpg?77"
                    />
                    <span>Лукашисты в панике</span>
                </a>
                <a href="#">
                    <img
                        alt="Максимальный репост!"
                        src="https://i.c97.org/hb/400761.jpg?77"
                    />
                    <span>Максимальный репост!</span>
                </a>
            </div>
        </div> -->
    </div>
    <nav>
        <div id="btn-category" class="icon-down-open"><span>Рубрики</span></div>
        @@include('categories.html')
    </nav>
</header>
