<!--
       ________               __            ____  _____
      / ____/ /_  ____ ______/ /____  _____/ __ \/__  /____  _________ _
     / /   / __ \/ __ `/ ___/ __/ _ \/ ___/ /_/ /  / // __ \/ ___/ __ `/
    / /___/ / / / /_/ / /  / /_/  __/ /   \__, /  / // /_/ / /  / /_/ /
    \____/_/ /_/\__,_/_/   \__/\___/_/   /____/  /_(_)____/_/   \__, /
                                                               /____/
    Привет! Есть желание помочь - присоединяйся!
    https://github.com/charter97/publisher-frontend-html

-->
<meta charset="utf-8">
<title>@@title | Хартыя '97</title>
<meta name="description" content="@@description">
<meta name="author" content="Хартыя '97">

<link rel="icon" type="image/png" href="img/favicon-16.png" sizes="16x16">
<link rel="icon" type="image/png" href="img/favicon-32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/favicon-96.png" sizes="96x96">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

<link rel="stylesheet" href="css/main.min.css">
