@import "variables.scss";
footer {
    .menu-list {
        padding-right: 0;
        margin-top: 70px;
        border-top: 2px solid $effect;
        border-bottom: 1px solid $surface;
        padding-top: 10px;
        padding-bottom: 30px;
        height: auto;
    }
}
.footer-info {
    margin-top: 80px;
    p {
        padding-left: 0;
    }  
    &__img {
        display: block;
        img {
            max-width: 15%;
        }
    }
} 
