@import "variables.scss";
.sidebar {
    border-bottom: 1px solid $surface;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    &__sticky {
        position: sticky;
        top: 0;
    }
    .news {
        &:last-child {
            margin-bottom: 0;
            .news__title {
                margin-bottom: 0 !important;
            }
        }
    }
    .socials-list {
        &__item {
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    .news__img {
        flex: 0 0 100px;
        img {
            max-height: 65px;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    &:first-child {
        border-bottom: 1px solid $surface;
    }
    .common-input {
        border: 1px solid $visitedlinks;
        width: 100%;
        height: 32px;
        font-size: $size-small2;
        padding: 8px;
        margin-bottom: 20px;
        &:focus {
            outline: none;
            border-color: $primary;
        }
        &.error {
            border-color: $error;
        }
        &.error ~ .valid-text {
            background-color: $error;
            color: #fff;
            margin-top: -20px;
            margin-bottom: 20px;
            font-weight: normal;
        }
    }
}