@import "variables.scss";
.socials-list {
    margin: 0;
    padding: 0;
    &__item {
        letter-spacing: 0.1em;
        line-height: 2.2;
        font-size: $size-small;
        text-transform: uppercase;
        padding: 5px 0;
        a {
            color: $rarely-text;
            &:hover {
                color: $effect;
            }
        }
    }
    &__icon{
        font-size: $size-small2;
        color: $secondary;
        padding-right: 10px;
    }
}