
$primary: #000000;


$secondary:#a6a6a6; 
$secondary2: #737373;
$secondary3: #737374;

$rarely-text: #3c3c3c;

$visitedlinks: #999;


$surface: gainsboro;
$effect: #ed1c24;
$effectDark: #CC0000;
$error: #6B0505;
$dottsColor: #dcdcdc;

$color-bright: #ed1c24;
$star: #ffdf00;
$scrollButton: #cccccc;

$background: #ffffff;
$background2: #f2f2f2;
$backgroundSearch: #e6e6e6;

$button-bg: #aaa;
$buttonHover-bg: #777;


$size-main: 10px;
$size-title: 1.75rem;

$sizeText: 1.4rem;
$size-middle: 1.5rem;
$size-middle2: 1.6rem;

$size-small: 1.1rem;
$size-small2: 1.2rem;
$size-common: 1rem;

$size-big: 2.6rem;

$primaryFont : Arial, Helvetica, sans-serif;




@import "mixins.scss";
