// Configuration variables
$color-black: #000;
$color-grey-light: #dcdcdc;
$color-grey-dark: #737373;
$color-red: #ed1c24;

$font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 26px;
$font-color: $color-black;

$spacer: 20px;

// Including library styles
@import "library/normalize";
@import "library/fontello";

// Including project styles
@import "styles/common";
