// Configuration variables
$color-black: #000;
$color-grey-light: #dcdcdc;
$color-grey-dark: #737373;
$color-red: #ed1c24;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 14px;
$font-size-small: 10px;
$font-size-large: 26px;
$font-color: $color-black;

$spacer: 20px;
$top-banner-width: 220px;

// Including library styles
@import "library/normalize";
@import "library/fontello";
@import "node_modules/slick-carousel/slick/slick.scss";

// Including project styles
@import "styles/common";
@import "styles/search";
@import "styles/header";
@import "styles/footer";
