.container {
    max-width: 1160px;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px ) {
    .container {
        margin: 0 $spacer;
    }
}

@media only screen and (max-width: 992px) {
    header {
        .top-nav {
            display: flex;
            justify-content: space-between;
        }

        .logo {
            left: 50%;
            top: 5px;
            width: 80px;
            span{
                visibility: hidden;
            }
        }

        .banners {
            margin: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}


@media only screen and(max-width:768px){


}

@media only screen and(max-width:540px){

    
}