footer {
    padding-bottom: 20px;
    nav {
        border-top: 2px solid $color-red;
        border-bottom: 1px solid $color-grey-light;
        margin-bottom: 20px;
        .nav {
            height: unset;
            position: relative;
          
        }
        .nav__item {
            margin-right: 13px;
        }
    }


        .slick-slide {
            img {
                margin: 0 auto;
            }
        }
    }

    .copyright {
        font-size: $font-size-base;
        p {
            margin-bottom: 0;
        }
    }

