footer {
    padding-bottom: 20px;

    nav {
        border-top: 2px solid $color-red;
        border-bottom: 1px solid $color-grey-light;

        ul {
            padding: $spacer/2 0;
            margin: 0;
            list-style-type: none;
            overflow: hidden;
        }

        li {
            display: inline-block;
            padding: $spacer/2 0;
            margin-right: 13px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 17px;
                left: -10px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $color-grey-dark;
                z-index: -1;
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $color-black;
            font-size: 12px;

            &:hover {
                color: $color-red;
            }
        }
    }

    .partners {
        margin-top: $spacer*2;

        .slick-slide {
            img {
                margin: 0 auto;
            }
        }
    }

    .copyright {
        margin-top: $spacer;
        font-size: $font-size-base;

        p {
            margin-bottom: 0;
        }
    }
}
