.header {
    width: 100%;
    position: relative;
    background-color: white;
    .header__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        .header__line-block {
            display: flex;
            &.right {
                justify-content: flex-end;
            }
            .header__info {
                &:first-child {
                    padding-right: 10px;
                }
            }
            .header__contact {
                padding-right: 50px;
                color: $color-grey-dark;
                &:hover {
                    color: black;
                }
                &.active {
                    color: #ed1c24;
                    &:hover {
                        color: black;
                    }
                }
            }
            .lng {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                .lng__link {
                    text-transform: uppercase;
                    color: $color-grey-dark;
                    padding-right: 5px;
                    &:last-child {
                        padding-right: 0;
                    }
                    &:hover {
                        color: black;
                    }
                    &.active {
                        color: red;
                    }
                }
            }
        }

        em {
            display: block;
            font-size: 20px;
            cursor: pointer;
            color: $color-grey-dark;
        }
    }
    .header__wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: 30px;
    }
    .header__blocks {
        display: flex;
        position: relative;
        width: 70%;
        &:first-child {
            width: 30%;
        }
        &:last-of-type {
            justify-content: space-around;
        }
    }

    .logo {
        img {
            height: 70px;
            display: block;
        }

        a {
            display: block;
        }

        span {
            display: block;
            text-align: center;
            color: $color-grey-dark;
            font-size: $font-size-small;
            text-transform: uppercase;
        }
    }
    .header__block {
        display: flex;
        border: 1px solid gainsboro;
    }
    .header__block-img {
        height: 80px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .header__block-content {
        height: 35px;
        text-align: center;
        font-size: $font-size-small;
        text-transform: uppercase;
        line-height: 1.2;
        color: $color-grey-dark;
    }

    nav {
        border-top: 1px solid $color-grey-light;
        border-bottom: 1px solid $color-grey-light;

        .nav {
            height: 26px;
            &.category-open {
                height: auto;
            }
        }

        .nav__item {
            height: 100%;
        }

        #btn-category {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: $color-grey-dark;
            &::before {
                border-radius: 50%;
                border: 1px solid $color-grey-dark;
            }

            span {
                display: none;
            }
        }
    }
}
